{% extends 'social/layout.html' %}
{% load static %}


{% block head %}
<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
{% endblock head %}

{% block feed %}
<div class="main">
    <nav class="second-nav">
        <h1>
            Hola! Me llamo Joaquin Jurado.<br>
            Este blog fue creado para el proyecto final de Coderhouse.<br><br>
            Hello! My name is Joaquin Jurado.<br>
            This blog was created for the final Coderhouse project.
        </h1>
    </nav>
{% endblock feed %}

{% block content %}{% endblock content %}