<!DOCTYPE html>
<html>
{% load static %}


{% block head %}
<head>
	<title>Django Social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
{% endblock head %}
<body>
	<!-- Header -->
	<header class="main-head">
		<nav class="main">
			<ul>
				<li><a class="feed" href="{% url 'feed' %}">Home</a></li>
				<li><a class="feed" href="{% url 'about' %}">About</a></li>
				{% if request.user.is_authenticated %}
				<li><a class="profile" href="{% url 'profile' request.user.username%}">Profile</a></li>
				<li><a class="feed" href="{% url 'search' %}">Search</a></li>
				<li><a href="{% url 'logout' %}"><strong>Logout</strong></a></li>
				{% else %}
				<li><a href="{% url 'register' %}"><strong>Register</strong></a></li>
				<li><a href="{% url 'login' %}"><strong>Login</strong></a></li>
				{% endif %}
			</ul>
		</nav>
	</header>

	<!-- Notification -->
	{% if messages %}
	{% for message in messages %}
	<div class='notification {{message.tags}}'>
		{{message}}
	</div>
	{% endfor %}
	{% endif %}

	<!-- Navigation Bar -->
	{% block feed %}
	<div class="main">
		<nav class="second-nav">
			{% if request.user.is_authenticated %}
			<a class="new" href="{% url 'post' %}">New post</a>
			{% else %}
			<a class="new">Login for make a post</a>
			{% endif %}
		</nav>
	{% endblock feed %}
		
	<!-- Content -->
	{% block content %}{% endblock content %}
		
	</div>
	<!-- Footer -->
	<footer>
		<div class="row">
			<p>Red Social con Django<br>Hecha por: Joaquin Jurado</p>
		</div>
	</footer>
	
</body>
</html>