{% extends 'social/layout.html' %}
{% load static %}


{% block head %}
<head>
	<title>Post</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
{% endblock head %}

{% block feed %}
<div class="main">
{% endblock feed %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit' id='submit'>Post</button>
</form>
{% endblock content %}